langchain==0.3.0
langchain-community==0.3.0
# transformers==4.44.2
faiss-cpu==1.9.0
# faiss-cpu==1.9.0.post1
sentence-transformers==3.0.1
# torch
python-dotenv==1.0.1


langchain-huggingface==0.1.0
langchainhub==0.1.21
transformers==4.45.2
torch==2.7.1


transformers==4.45.2

sentence-transformers==3.0.1
